html, body {
	margin: 0;
	padding: 0;
	text-align: center;
}

@keyframes anime{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@-webkit-keyframes anime{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@keyframes anime2{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
@-webkit-keyframes anime2{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
#loading{
  position: fixed;
  animation-name:anime;
  animation-duration:1s;
  animation-delay:1s;
  animation-fill-mode:forwards;
  height: 100%;
  width: 100%;
  background: rgb(21, 19, 21);
}

#body{
  opacity:0;
  animation-name:anime2;
  animation-duration:1s;
  animation-delay:1s;
  animation-fill-mode:forwards;
}

ul {
	padding:0;
	margin: 0;
	position: fixed;
	width: 100%;
	z-index: 10;
	text-align: left;
	background-color: black;
}

li {
	display: inline-block;
	padding: 0 2em;
	position: relative; top:-15px;
	font-weight: bold;
	border-bottom: solid 1px rgba(0,0,0,0);
}

#menu_icon {
	position: relative; top:0px;
}

li:not(#menu_icon):hover>a {
	border-bottom: solid 1px #fadf84;
}

a {
	text-decoration: none;
	color: #fadf84;
}

#header_img {
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url('Assets/at_home-bg_ncsa.jpg');
	height: 700px;
}

span:before {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 20%;
    border-top: 1px solid #fadf84;
}

span {
	color: #fadf84;
	display: block;
}

span:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 20%;
    border-top: 1px solid #fadf84;
}

#header_icon {
	padding-top: 18%;
}

#header_title {
	font-size: 4em;
    text-transform: uppercase;
	color: white;
	letter-spacing: 3px;
	margin-top: 20px;
}

#header_desc {
	text-transform: uppercase;
	color: white;
	font-size: 0.8em;
	letter-spacing: 2px;
	margin-top: 20px;
}
#header_desc:before {
	width: 14%;
}

#header_desc:after {
	width: 14%;
}

button {
	background: linear-gradient(to right, #b89442, #fadf84);
	border-radius: 0;
    color: #000;
    height: 40px;
    border: none;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    font-family: din-condensed, sans-serif;
    font-weight: 700;
	letter-spacing: 3px;
	padding: 15px;
	margin-top: 2%;
	z-index: 0;
}

button:hover{
	background: linear-gradient(to right, #fadf84, #b89442);
	cursor: pointer;
	text-shadow: 2px 2px 3px black;
	transition: background 1000ms linear;
}

#intro {
	background-size: 100%;
	background-image: url('Assets/at_body-bg_ncsa.jpg');
	width: 100%;
	height: 700px;
}

#intro_logo {
	background-image: url('Assets/at_home-helix-buffer_ncsa.png');
	background-repeat: no-repeat;
	background-size: 50%;
	width: 30%;
	height: 300px;
	margin: auto;
	margin-left: 42%;
}

#intro_title {
	color: #fadf84;
	letter-spacing: 20px;
	font-size: 20px;
	margin-bottom: 5%;
	margin-left: 2%;
}

#intro_effect {
	background-size: 100%;
	background-image: url('Assets/at_glyphs-bg_ncsa.png');
	height: 700px;
}

#world_map {
	background-image: url('Assets/world map/at_map-v2-gray_ncsa.jpg');
	background-size: 100%; 
	width: 100%; 
	height: 940px; 
	background-repeat: no-repeat;
	letter-spacing: 0.8px;
}

div[id^='wm_menu'] {
	background-size: 100%; 
	width: 20%; 
	height: 300px;
	background-repeat: no-repeat;
	letter-spacing: 0.8px;
	display: inline-block;
}

.wm_title  {
	color: #fadf84;
	font-family: din-condensed, sans-serif; 
	margin-top: -20px;
}

#wm_menu1 {
	background-image: url('Assets/world map/at_world_alexandria.png');
}

#wm_menu2 {
	background-image: url('Assets/world map/at_world_faiyum.png');
}

#wm_menu3 {
	background-image: url('Assets/world map/at_world_giza_memphis.png');
}

#wm_menu4 {
	background-image: url('Assets/world map/at_world_kyrenaika.png');
}

#wm_menu5 {
	background-image: url('Assets/world map/at_world_nile_delta.png');
}

#wm_menu6 {
	background-image: url('Assets/world map/at_world_siwa.png');
	height: 400px;
}


#combat_system {
	background-image: url('Assets/combat system/at_gameinfo-combat-default-bg_ncsa.jpg');
	background-size: 100%; 
	width: 100%; 
	height: 700px; 
	background-repeat: no-repeat;
	letter-spacing: 0.8px;
	transition: background-image 0.5s ease-in-out;
}

#unique_quests {
	background-image: url('Assets/unique quest/at_gameinfo-quests-default-bg_ncsa.jpg');
	background-size: 100%; 
	width: 100%; 
	height: 700px; 
	background-repeat: no-repeat;
	letter-spacing: 0.8px;
	transition: background-image 0.5s ease-in-out;
}

#story_chara {
	background-image: url('Assets/story & characters/at_gameinfo-factions-default-bg_ncsa.jpg');
	background-size: 100%; 
	width: 100%; 
	height: 700px; 
	background-repeat: no-repeat;
	letter-spacing: 0.8px;
	transition: background-image 0.5s ease-in-out;
}

.title {
	color: white; 
	font-size: 30px; 
	margin: auto;
	padding-top: 3%; 
}

.description {
	color: white; 
	font-size: 14px; 
	padding-top: 20px;
	max-width: 40%; 
	margin-left: 30%; 
	line-height: 2; 
	letter-spacing: 1.8px;
	font-family: din-condensed, sans-serif; 
}

.menu {
	margin: auto;
	padding-top: 3%;
}

.menu_container_hexagon {
	overflow: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
     width: 250px;
    height: 300px;
    margin: -20px 20px;
    display: inline-block;
	border: solid 1px rgba(0,0,0,0);
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
	border: solid 1px rgba(0,0,0,0);

    }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: gray;
    background-blend-mode: luminosity;
	    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
	border: solid 1px rgba(0,0,0,0);

    }

.combat_system_menu_title, .combat_system_menu_title_sc {
	position: absolute;
	top: 50%;
	padding-left: 20%;
	color: #fadf84; 
	font-family: din-condensed, sans-serif; 
	font-weight: bold;
}

.combat_system_menu_title_sc {
	letter-spacing: 3px;
}

#combat_system_menu_title_uq_1 {
	padding-left: 14%;
}

#combat_system_menu_title_sc_1 {
	padding-left: 35%;
}

#combat_system_menu_title_sc_2 {
	padding-left: 25%;
}

.combat_system_menu_title:hover, .combat_system_menu_title_sc:hover {
	cursor: pointer;
}

div[id^='cs_menu'], div[id^= 'uq_menu'], div[id^= 'sc_menu'] {
	background-size: 120%;
}

/*Combat Systems Menu*/

#cs_menu1 {
	background-image: url('Assets/combat system/at_gameinfo-hex-combat-rebuilt-bg.jpg'); 
}

#cs_menu2 {
	background-image: url('Assets/combat system/at_gameinfo-hex-weapon-types-bg.jpg');
}

#cs_menu3 {
	background-image: url('Assets/combat system/at_gameinfo-hex-weapon-rarity-bg.jpg');
}

div[id^='cs_top_menu'], div[id^='uq_top_menu'], div[id^='sc_top_menu'] {
	position: absolute; 
	margin-top: 15%; 
	z-index: 5; 
	width: 250px; 
	height: 250px; 
}

div[id^='sc_top_menu'] {
	margin-top: 20%;
}

div[id^='cs_top_menu']:hover, div[id^='uq_top_menu']:hover, div[id^='sc_top_menu']:hover {
	cursor: pointer;
}


#cs_top_menu1 {
	left: 18.5%; 
}

#cs_top_menu2 {
	left: 40.6%;
}

#cs_top_menu3 {
	left: 62.5%;
}

#cs_top_menu1:hover ~ #combat_system {
	background-image: url('Assets/combat system/at_combat-rebuilt-bg_ncsa.jpg');
}

#cs_top_menu2:hover ~ #combat_system {
	background-image: url('Assets/combat system/at_weapon-rarity-bg_ncsa.jpg');
}

#cs_top_menu3:hover ~ #combat_system {
	background-image: url('Assets/combat system/at_weapon-types-bg_ncsa.jpg');
}

/*Memorable Quests Menu*/
#uq_menu1 {
	background-image: url('Assets/unique quest/at_gameinfo-hex-quests-bg.jpg');
}

#uq_menu2 {
	background-image: url('Assets/unique quest/at_gameinfo-hex-new-ai-bg.jpg');
}

#uq_top_menu1 {
	left: 29.7%;
}

#uq_top_menu2 {
	left: 51.6%;
}

#uq_top_menu1:hover ~ #unique_quests {
	background-image: url('Assets/unique quest/at_quests-bg_ncsa.jpg');
}

#uq_top_menu2:hover ~ #unique_quests {
	background-image: url('Assets/unique quest/at_quests-new-ai_ncsa.jpg');
}

/*Story and Characters Menu*/
#sc_menu1 {
	background-image: url('Assets/story & characters/at_gameinfo-hex-story-bayek-bg.jpg');
}

#sc_menu2 {
	background-image: url('Assets/story & characters/at_gameinfo-hex-story-cleopatra-bg.jpg');
}

#sc_menu3 {
	background-image: url('Assets/story & characters/at_gameinfo-hex-story-ptolemyxiii-bg.jpg');
}

#sc_menu4 {
	background-image: url('Assets/story & characters/at_gameinfo-hex-story-caesar-bg.jpg');
}

#sc_top_menu1 {
	left: 7.6%;
}

#sc_top_menu2 {
	left: 29.6%;
}

#sc_top_menu3 {
	left: 51.8%;
}

#sc_top_menu4 {
	left: 73.8%;
}

#sc_top_menu1:hover ~ #story_chara {
	background-image: url('Assets/story & characters/at_gameinfo-story-bayek-bg.jpg');
}

#sc_top_menu2:hover ~ #story_chara {
	background-image: url('Assets/story & characters/at_gameinfo-story-cleopatra-bg.jpg');
}

#sc_top_menu3:hover ~ #story_chara {
	background-image: url('Assets/story & characters/at_gameinfo-story-ptolemyXIII-bg.jpg');
}

#sc_top_menu4:hover ~ #story_chara {
	background-image: url('Assets/story & characters/at_gameinfo-story-caesar-bg.jpg');
}

#footer {
	width: 100%;
	height: 300px;
	background-color: black;
}

#footer_logos {
	margin: auto;
	width: 50%;
	display: block;
}

div[id^='footer_logo'] {
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 2%;
	display: inline-block;
}

#footer_logo1 {
	background-image: url('Assets/footer/ubisoft-white_emea_81038.png');
	width: 160px;
	height: 80px;
}

#footer_logo2 {
	background-image: url('Assets/footer/ubisoft_logo_store_white_footer_140px_306899.png');
	width: 140px;
	height: 80px;
}

#footer_logo3 {
	background-image: url('Assets/footer/ubisoft-ubiblog-footer-logo(new)_296006.png');
	width: 200px;
	height: 80px;
}

#footer_logo4 {
	background-image: url('Assets/footer/at_footer_ps5.png');
	width: 200px;
	height: 70px;
}

#footer_logo5 {
	background-image: url('Assets/footer/at_footer_xbox_two.png');
	width: 200px;
	height: 60px;
}

#footer_logo6 {
	background-image: url('Assets/footer/pc_download_logo_white_trans_127390.png');
	width: 50px;
	height: 90px;
}

#footer_copyright {
	color: white;
	font-family: din-condensed, sans-serif; 
}


